.gamebody {
	text-align: center;
}
.gamebutton {
	height: 100px;
	width: 100px;
	background-color: azure;
	border-color: black;
	font-size: x-large;
}
.startbutton {
	height: 100px;
	width: 100px;
	border-radius: 40px;
	background-color: bisque;
	color: black;
	border-color: black;
}
